$braid-purple: #382e7c;
$braid-light-purple: #5949c1;
$braid-blue: #248bcb;
$braid-green: #48b9b2;
//AAA compliant shade of green that contrasts enough against white
$braid-green-accessible: #00645f;
$braid-white: #ffffff;

$success-color: #b6e2b8;
$error-color: #c62828;
$info-color: #f9c976;

$braid-grey-5: #585858;
$braid-grey-4: #b3b3b3;
$braid-grey-3: #dcdcdc;
$braid-grey-2: #f0f0f0;
$braid-grey-1: #f5f5f5;
$braid-grey-0: #f9f9f9;

$braid-font-color: #404040;
