$white: #ffffff;

$success-color: #b6e2b8;
$error-color: #c62828;
$info-color: #f9c976;

$background-color-primary: var(--background-color-primary);

// LIGHT THEME STYLING
.app {
  background: rgba(255, 255, 255, 0.8);
  color: #222;

  & svg {
    & path {
      fill: #222;
    }
  }

  .btn {
    background-color: #222;
    p,
    b {
      color: rgba(229, 231, 235, 1);
    }
    & svg {
      & path {
        fill: rgba(229, 231, 235, 1);
      }
    }
  }
  .btn-reverse {
    background-color: rgba(229, 231, 235, 1);
    p,
    b {
      color: #222;
    }
    & svg {
      & path {
        fill: #222;
      }
    }
  }

  a,
  p,
  b,
  h1,
  h2,
  h3 {
    color: #222;

    &.active {
      color: #918aed;
    }
  }
}

// DARK THEME STYLING
.dark-theme {
  background: rgba(17, 24, 29, 0.6);
  color: #ddd;

  & svg {
    & path {
      fill: #ddd;
    }
  }

  .btn {
    background-color: #ddd;
    p,
    b {
      color: rgba(30, 41, 59, 1);
    }

    & svg {
      & path {
        fill: rgba(30, 41, 59, 1);
      }
    }
  }
  .btn-reverse {
    background-color: rgba(30, 41, 59, 1);
    p,
    b {
      color: #ddd;
    }

    & svg {
      & path {
        fill: #ddd;
      }
    }
  }

  a,
  p,
  b,
  h1,
  h2,
  h3 {
    color: rgba(229, 231, 235, 1);

    &.active {
      color: #918aed;
    }
  }
}
